asgiref==3.4.1
backports.zoneinfo==0.2.1
defusedxml==0.7.1
distlib==0.3.4
Django==4.0.1
django-allauth==0.47.0
filelock==3.4.2
Pillow==9.0.0
platformdirs==2.4.1
python3-openid==3.2.0
requests-oauthlib==1.3.0
sqlparse==0.4.2
virtualenv==20.13.0
