{% extends 'base.html' %}
{% block title %}
Movie
{% endblock title %}

{% block others %}
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>    
    <style>
        .player::-webkit-progress-bar{
            color: red;
        }
    </style>
{% endblock others %}

{% block content %}
 

    <main class='bg-primary_black h-full w-full '>
        {{movie|json_script:'movie_data'}}

        <video controls class="w-full h-screen player" type = "video/mp4"></video>
        
    </main>

    <script>
        const videoEL = document.querySelector('video')
        const movie_data = JSON.parse(document.getElementById('movie_data').textContent);

        const url = new URL(location.href)

        const video_param = parseInt(url.searchParams.get("epi")) ? parseInt(url.searchParams.get("epi")) : 0

        videoEL.setAttribute('src',`/media/${movie_data[video_param].file}`)
        
    </script>
{% endblock content %}